@font-face {
  font-family: "Cactus";   /*Can be any text*/
  src: local("Cactus Bold"),
    url("/src/fonts/Cactus Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Alte-Hass";   /*Can be any text*/
  src: local("Alte"),
    url("/src/fonts/alte-haas-grotesk.regular.ttf") format("truetype");
}

body{
  background-color: #F3EFEC;

}

.App{
  height: 96vh;
  width: 100%;
}

.big-frame{
  border: 1px solid black;
  height: 95vh;
  width: 97.5%;
  margin: 20px;
  display: flex;
  flex-direction: row;
}

.text{
  height: 95vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  padding-left: 20px; ;
  position: relative;
  font-family: "Cactus";
}

.title{
  justify-content: center;
  width: 100%;
  margin-top: 1em;
  margin-left: 1em;
}

#mediazine{
  font-size: 5vw;
  padding-bottom: 0;
  margin-bottom: 0;
}

#author{
  margin-top: 0;
  font-size: 2.5vh;
}

#author a{
  text-decoration: none;
  color: black;
}

#author a:hover{
  opacity: 0.6;
}

.katatext{
  margin-top: 3em;
  margin-left: 1em;
  display: flex;
  flex-direction: row;
  font-family: "Alte-Hass";
}

.katatext .katazine{
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 3em;
  margin: 0;
}

.katatext .katazine#katauthor{
  color: #E3211B;
}

.info{
  position: absolute;
  display: flex;
  flex-direction: row;
  width:90%;
  justify-content: space-around;
  bottom: 0 ;
  margin-bottom: 20px;
  font-size: 1.5em;
  padding-right: 1.5em;
  font-family: 'alte-haas';
}

.poster-container {
  width: 100%; /* Full width of the parent */
  max-width: 50vw; /* Set a max width for larger screens, adjust as needed */
  margin: auto; /* Center the container */
  position: relative; /* Position for absolute child */
  overflow: hidden; /* Prevent overflow */
  display: flex;
  flex-direction: column;
}

.poster {
  background-image: url("/src/assets/poster.png");
  background-size: cover; /* Ensures the background image covers the entire area */
  width: 66.67%; /* Use 66.67% for a width that maintains the aspect ratio */
  height: auto; /* Automatically calculate height based on width */
  max-height: 80vh; /* Optional: Limit height to 80% of the viewport height */
  aspect-ratio: 2 / 3; /* Maintains the 2:3 aspect ratio */
  background-position: center; /* Center the image */
  border: 1px solid #ccc; /* Optional for visual reference */
}

.screenshot-button {
  background-color: #F3EFEC; /* Match your theme */
  border: none;
  padding: 10px 20px;
  width: 66.67%;
  cursor: pointer;
  border-radius: 5px; /* Optional: add rounded corners */
  font-size: 16px; /* Font size */
  margin-top: 20px; /* Space above the button */
  transition: background-color 0.3s ease; /* Transition effect */
}

.screenshot-button:hover {
  background-color: #d0c7c1; /* Darker shade on hover */
}

